* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

p {
  font-weight: 300;
}

.header {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  padding-bottom: 20px;
  box-shadow: 0px 0.5px 10px rgb(32, 32, 32);
}
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .header {
    height: 10vh;
    padding-bottom: 0px;
    gap: 500px;
  }
}
@media (min-width: 768px) {
  .header__logo {
    margin: 3%;
  }
}
@media (min-width: 768px) and (min-width: 1280px) {
  .header__logo {
    height: 80px;
  }
}
.header__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  list-style: none;
}
@media (min-width: 768px) {
  .header__list {
    flex-direction: row;
  }
}
@media (min-width: 1280px) {
  .header__list {
    gap: 50px;
  }
}
.header__elements span {
  color: #AB864C;
}

.footer__top {
  font-weight: 300;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 10%;
  height: 80vh;
  background-color: #000000;
  color: #ffffff;
  gap: 15px;
}
@media (min-width: 768px) {
  .footer__top {
    flex-direction: row;
    height: 40vh;
    font-size: 0.8rem;
    padding-top: 0%;
  }
}
.footer__logo {
  height: 80px;
}
@media (min-width: 768px) {
  .footer__logo {
    height: 60px;
  }
}
.footer__svg {
  height: 50px;
  fill: #ffffff;
}
@media (min-width: 768px) {
  .footer__svg {
    height: 40px;
  }
}
.footer__svgcontent {
  display: flex;
}
.footer__list {
  list-style: none;
}
.footer__list span {
  color: #AB864C;
}
.footer__scheduleall {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__adressnumber {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__svgall {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.footer__bottom {
  gap: 7%;
  height: 10vh;
  font-size: 0.7rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  border: solid 2px #AB864C;
  color: #ffffff;
}
@media (min-width: 768px) {
  .footer__bottom {
    flex-direction: row;
  }
}

.story {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  height: 1000px;
  margin-bottom: -20px;
}
@media (min-width: 1280px) {
  .story {
    flex-direction: row;
    border-bottom: #000000 solid 1px;
    width: 90vw;
  }
}
.story__descriptionbutton {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90vw;
}
@media (min-width: 1280px) {
  .story__descriptionbutton {
    width: 50%;
  }
}
.story__citation {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  text-align: center;
}
@media (min-width: 1280px) {
  .story__citation {
    text-align: start;
  }
}
.story__svg {
  height: 80px;
}
.story__image {
  height: 200px;
}
@media (min-width: 768px) {
  .story__image {
    height: 300px;
  }
}
@media (min-width: 1280px) {
  .story__image {
    height: 50%;
  }
}
.story__content {
  position: relative;
  height: 150px;
  width: 90vw;
  border-bottom: #000000 solid 1px;
}
@media (min-width: 1280px) {
  .story__content {
    border: none;
  }
}
.story__button {
  padding: 15px;
  border: none;
  background-color: #AB864C;
  color: #ffffff;
  position: absolute;
}

.hero {
  z-index: 1;
  height: 350px;
  background-image: url(/images/haute-couture-2.jpg);
  background-size: 280%;
  background-position: 50%;
  display: flex;
  justify-content: space-around;
}
@media (min-width: 768px) {
  .hero {
    background-size: 150%;
  }
}
@media (min-width: 1280px) {
  .hero {
    height: 30vh;
    background-size: 100%;
  }
}
.hero__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 100px;
  font-size: 2rem;
  height: 45%;
  width: 80%;
  background-color: #ffffff;
  opacity: 0.9;
}
@media (min-width: 1280px) {
  .hero__title {
    width: 25%;
    font-weight: 800;
    margin-top: 4%;
  }
}

.map {
  height: 500px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #AB864C;
  justify-content: space-between;
  padding-top: 30px;
}
.map__title {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
  font-weight: 800;
  font-size: 2rem;
}
@media (min-width: 1280px) {
  .map__title {
    font-size: 3rem;
  }
}
.map__adress {
  font-size: 1rem;
}
@media (min-width: 1280px) {
  .map__adress {
    font-size: 1.5rem;
  }
}
.map__iframe {
  width: 100%;
}

.citationdescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  gap: 50px;
  height: 70%;
}
.citationdescription__citation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
  gap: 20px;
  font-size: 1rem;
  text-align: center;
  width: 80vw;
  margin-top: 30px;
}
@media (min-width: 1280px) {
  .citationdescription__citation {
    font-size: 1rem;
  }
}
.citationdescription__article__description {
  text-align: center;
  border: solid black 1px;
  padding: 15px;
  margin-bottom: 50px;
  width: 80vw;
}
@media (min-width: 768px) {
  .citationdescription__article__description {
    width: 35vw;
    margin: auto;
    margin-bottom: 10%;
    padding: 4%;
  }
}

.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #AB864C;
  color: #ffffff;
  gap: 2%;
  height: 2100px;
}
@media (min-width: 1280px) {
  .article {
    height: 100vh;
    gap: 5%;
  }
}
.article__content__all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (min-width: 1280px) {
  .article__content__all {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-items: start;
    flex-direction: row;
    gap: 5%;
  }
}
.article__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 90%;
}
@media (min-width: 1280px) {
  .article__content {
    gap: 30px;
    width: 20%;
  }
}
.article__image {
  height: 50%;
}
.article__description {
  padding: 0 20px;
}
.article h2,
.article h3 {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
}
@media (min-width: 1280px) {
  .article h2,
  .article h3 {
    font-size: 2rem;
  }
}
.article__link {
  border: solid #ffffff 1px;
  padding: 15px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  justify-content: space-evenly;
}
@media (min-width: 1280px) {
  .contact {
    gap: 100px;
    align-items: start;
    margin-top: 150px;
    height: 500px;
  }
}
.contact__titredescription {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 90vw;
}
@media (min-width: 1280px) {
  .contact__titredescription {
    width: 30vw;
  }
}
@media (min-width: 1280px) {
  .contact {
    display: flex;
    flex-direction: row;
  }
}
.contact__title {
  font-family: "Kaisei Decol", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  font-weight: 800;
  text-align: center;
}
@media (min-width: 1280px) {
  .contact__title {
    text-align: start;
  }
}
.contact__form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
@media (min-width: 1280px) {
  .contact__form {
    width: 50vw;
  }
}
.contact__names {
  display: flex;
  gap: 5px;
}
@media (min-width: 768px) {
  .contact__names {
    width: 90vw;
  }
}
.contact__labelbottom {
  font-size: 0.8rem;
}
.contact__labelhidden {
  opacity: 0;
}
.contact__input {
  padding: 5px;
}
@media (min-width: 768px) {
  .contact__input {
    width: 45vw;
  }
}
@media (min-width: 1280px) {
  .contact__input {
    width: 25vw;
  }
}
.contact__inputemail {
  padding: 5px;
}
.contact__content {
  display: flex;
  flex-direction: column;
}
.contact__contenttext {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
}
@media (min-width: 768px) {
  .contact__contenttext {
    justify-content: start;
  }
}
.contact__inputtext {
  padding: 30px;
}
.contact__button {
  align-self: center;
  padding: 15px;
  border: none;
  background-color: #AB864C;
  color: #ffffff;
  width: 80vw;
}
@media (min-width: 1280px) {
  .contact__button {
    width: 50vw;
  }
}

.storycontact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*# sourceMappingURL=main.css.map */
