@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.article {
    @include flex-center;
    text-align: center;
    background-color: $beige;
    color: $white;
    gap: 2%;
    height: 2100px;

    @media (min-width: 1280px) {
        height: 100vh;
        gap: 5%;
    }

    &__content__all {
        @include flex-center;
        

        @media (min-width: 1280px) {
            @include flex-center;
            align-items: start;
            flex-direction: row;
            gap: 5%;

        }

    }

    &__content {
        @include flex-center;
        gap: 30px;
        width: 90%;
        @media (min-width: 1280px) {
    
        gap: 30px;
        width: 20%;
        }

    }

    &__image {

        height: 50%;

    }

    &__description {
        padding: 0 20px
    }


    & h2,
    h3 {
        @include fonttitle;

        @media (min-width: 1280px) {
            font-size: 2rem;
        }
    }

    &__link {

        border: solid $white 1px;
        padding: 15px;
    }


}