@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.citation {
    @include flex-center;
    @include fonttitle;
    gap: 20px;
    font-size: 1.4rem;
    text-align: center;
    height: 300px;

    &__name {
        font-weight: 400;
        font-size: 1rem;
        
    }
}
