@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.contact {
    @include flex-center;
    height: 700px;
    justify-content: space-evenly;
    @media (min-width: 1280px) {
        gap: 100px;
        align-items: start;
        margin-top: 150px;
        height: 500px;
    }

    &__titredescription {
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 90vw;
        @media (min-width: 1280px) {
         width: 30vw;
         
        }
    }

    @media (min-width: 1280px) {
        display: flex;
        flex-direction: row;
    }

    &__title {
        @include fonttitle;
        font-size: 1.5rem;
        font-weight: 800;
        text-align: center;
        @media (min-width: 1280px) {
            text-align: start;
        }

    }

    &__form {
        @include column;
        gap: 20px;
        @media (min-width: 1280px) {
            width: 50vw;
        }
    }

    &__names {
        display: flex;
        gap: 5px;

        @media (min-width: 768px) {
            width: 90vw;
        }
    }

    &__labelbottom {
        font-size: 0.8rem;
    }

    &__labelhidden {
        opacity: 0;
    }

    &__input {
        padding: 5px;

        @media (min-width: 768px) {
            width: 45vw;
        }
         @media (min-width: 1280px) {
            width: 25vw;
        }
    }

    &__inputemail {
        padding: 5px;
    }

    &__content {
        @include column;
    }

    &__contenttext {
        display: flex;
        flex-direction: row-reverse;
        gap: 5px;

        @media (min-width: 768px) {
            justify-content: start;
        }
    }

    &__inputtext {
        padding: 30px;
    }

    &__button {
        align-self: center;
        @include button;
        width: 80vw;

         @media (min-width: 1280px) {
            width: 50vw;
        }
    }
}