@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;


.header {
    position: relative;
    z-index: 2;
    @include flex-center;
    text-align: center;
    font-weight: 600;
    padding-bottom: 20px;
    box-shadow: 0px 0.5px 10px rgb(32, 32, 32);

    @media (min-width: 768px) {
        flex-direction: row;
        justify-content: space-evenly;

        @media (min-width: 1280px) {
            height: 10vh;
            padding-bottom: 0px;
            gap: 500px;
        }

        &__logo {
            margin: 3%;

            @media (min-width: 1280px) {
                height: 80px;

            }
        }
    }

    &__list {
        // j'ai mis un display pour pouvoir mettre un gap
        display: flex;
        flex-direction: column;
        gap: 9px;
        list-style: none;

        @media (min-width: 768px) {
            flex-direction: row;

        }

        @media (min-width: 1280px) {
            gap: 50px;
        }

    }

    &__elements span {
        color: $beige;

    }


}