@use "../abstracts/variables" as *;

@mixin button {
    color: $beige;
    border: none;
    cursor: pointer;
}

@mixin flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin fonttitle {
    
        font-family: "Kaisei Decol", serif;
        font-weight: 400;
        font-style: normal;
    

}

@mixin column {
    display: flex;
    flex-direction: column;
}

@mixin button {
    
    padding: 15px;
        border: none;
        background-color: $beige;
        color: $white;
}